extends layout

block content
  h1= title
  hr
  div    
    p(id="info" style="display:block") Data
    button(id="btnOn" type="button" class="btn btn-outline-primary mr-1" style="margin:0px;") ON
    button(id="btnOff" type="button" class="btn btn-outline-primary mr-1" style="margin:0px;") OFF
   
block script 
  script.
    var socket = io.connect();

    $("#btnOn").click(function () {        
      socket.emit("control", {"led" : "ON"});

      alert("ON");
    });

    $("#btnOff").click(function () {
      socket.emit("control", {"led" : "OFF"});

      alert("OFF");
    });
    
    $(document).ready(function () {
      socket.on("update_page", function (data) {
        if(data){
         $("#info").text(data);
        }
      });
    });